@import "../abstract/variables";
@import "../abstract/mixins";

.container{
  display: flex;
  text-align: center;
  overflow: hidden;
  height: 100vh;
  width: 100vw;

  .image_container{
    width: 50%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover
    }
  }

  .form_container{
    @extend .container;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 80px;

    h1{
      font-size: 2em;
      color: $color-primary;
      margin-bottom: 60px;
    }

    form{
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 15px;

      label{
        position: relative;
        @extend form;
        align-items: baseline;
        font-size: .75rem;
        color: $color-neutral-110;
        gap: 8px;

        input{
          width: 100%;
          padding: 10px;
          border: 1px solid $color-neutral-110;
          border-radius: 5px;
          font-size: 1rem;
          color: $color-neutral-120;
          &::placeholder{
            font-size: .85rem;
          }
          &:focus{
            outline: 2px solid $color-quaternary;
            border: transparent;
          }

        }

        .btn_show{
          background: transparent;
          border: none;
          color: $color-neutral-120;
          position: absolute;
          top: 70%;
          right: 10px;
          transform: translateY(-50%);
          cursor: pointer;
        }
      }
      .login{
        @include button-styles($color-primary, $color-tertiary)
      }
      .register{
        @include button-styles($color-primary, $color-tertiary)
      }
    }
  }
}